@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 172 100% 95%;
    --foreground: 172 5% 5%;
    --card: 172 50% 90%;
    --card-foreground: 172 5% 10%;
    --popover: 172 100% 95%;
    --popover-foreground: 172 100% 5%;
    --primary: 172 69% 34%;
    --primary-foreground: 0 0% 100%;
    --secondary: 172 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 134 30% 85%;
    --muted-foreground: 172 5% 35%;
    --accent: 134 30% 80%;
    --accent-foreground: 172 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 172 5% 90%;
    --border: 172 30% 50%;
    --input: 172 30% 18%;
    --ring: 172 69% 34%;
    --radius: 0.8rem;
  }
  .dark {
    --background: 172 50% 5%;
    --foreground: 172 5% 90%;
    --card: 172 50% 5%;
    --card-foreground: 172 5% 90%;
    --popover: 172 50% 5%;
    --popover-foreground: 172 5% 90%;
    --primary: 172 69% 34%;
    --primary-foreground: 0 0% 100%;
    --secondary: 172 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 134 30% 15%;
    --muted-foreground: 172 5% 60%;
    --accent: 134 30% 15%;
    --accent-foreground: 172 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 172 5% 90%;
    --border: 172 30% 18%;
    --input: 172 30% 18%;
    --ring: 172 69% 34%;
    --radius: 0.8rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
